<div class="container">
  <h1> Welcome to deer.ly! </h1>
  <form action="/deer.ly" method="post">
    Enter your url to shorten it:
    <br>
    <input type="text" name="link">
    <input type="submit" value="Shorten!">
  </form>
</div>
